<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>method</key>
	<string>developer-id-application</string>
	<key>teamID</key>
	<string>335YH25P36</string>
	<key>compileBitcode</key>
	<false/>
	<key>signingStyle</key>
	<string>manual</string>
	<key>signingCertificate</key>
	<string>Developer ID Application: The Nielsen Company Ent.</string>
	<key>provisioningProfiles</key>
	<dict>
		<key>com.nielsen.sdk.NielsenFlutterVideoPlayer</key>
		<string>com.nielsen.sdk.NielsenFlutterVideoPlayer catalyst</string>
	</dict>
</dict>
</plist>
